
<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller Of Hitheme</p>
      <h1> <span>Best</span>  Seller  </h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-item-card></app-item-card>
      </div>
      <div class="col-md-3">
        <app-item-card></app-item-card>
      </div>
      <div class="col-md-3">
        <app-item-card></app-item-card>
      </div>
      <div class="col-md-3">
        <app-item-card></app-item-card>
      </div>
    </div>
  </div>
</section>

<section class="policy">
  <div class="containers text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-car"></i>
            </div>
            
          </div>
          <h2>Free Shipping &amp; Return </h2>
          <p>Free shipping on all UK order</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          <h2> Money Back Guarentee </h2>
          <p>30 days money back guarentee </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">
              <i class="fa fa-phone"></i>
            </div>
          </div>
          <h2> Online Support 24/24 </h2>
          <p> We support online 24/24 on day </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="policy-product">
  <div class="containers">
    <div class="row">
      <div class="col-md-4 sm-6">
        <app-policy-product></app-policy-product>
      </div>
      <div class="col-md-4">
        <app-policy-product></app-policy-product>
      </div>
      <div class="col-md-4">
        <app-policy-product></app-policy-product>
      </div>
    </div>
  </div>
</section>


