<div class="policy-p-card">
    <div class="date">
      <h3>25</h3>
      <h4>Jun</h4>
    </div>     
    <div class="policy-img">
      <img src="../assets/img/img2.png" alt="P1">
    </div>   
    <h2>
      Lorem ipsum dolor sit, amet consectetur adipisicing 
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
       Ad hic atque soluta, dolor reprehenderit magni.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, eius?
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, laborum?
    </p>  
    <a href="" class="read-more">
      Read More <i class="fa fa-caret-right"></i>  
    </a>
</div>